{% extends "layout.twig" %}

{% block maincontent %}
	<div class="off-canvas-wrap docs-wrap" data-offcanvas="">
		<div class="inner-wrap">
				{{menu|raw}}
				<form id="register-client" name="register-client" method="post" >

					<div class="row medium-uncollapse large-collapse">
						<div class="large-12 columns">
							<label>Nombre:
								<input id="name" type="text" placeholder="Ingresa nombre" name="name" />
							</label>
						</div>
					</div>

					<div class="row medium-uncollapse large-collapse">
						<div class="large-12 columns">
							<label>Apellido:
								<input id="lastName" type="text" placeholder="Ingresa apellido" name="lastName" />
							</label>
						</div>
					</div>

					<div class="row medium-uncollapse large-collapse">
						<div class="large-12 columns">
							<label>Telefono:
								<input id="phone" type="text" placeholder="Ingresa nombre de producto" name="phone" />
							</label>
						</div>
					</div>

					<div class="row medium-uncollapse large-collapse">
						<div class="large-12 columns">
							<label>Dirección:
								<textarea id="address" placeholder="Ingresa una descripción" name="address" ></textarea>
							</label>
						</div>
					</div>

					<div class="row medium-uncollapse large-collapse">
						<div class="large-12 columns">
							<label>NIT:
								<input id="nit" type="text" placeholder="Ingresa nombre de producto" name="nit" />
							</label>
						</div>
					</div>

					<div class="row medium-uncollapse large-collapse">
						<ul class="stack button-group">
							<li><a href="#" class="button" onclick="crudClient(0,'create');" >Guardar</a></li>
						</ul>		
					</div>
				</form>
			<a class="exit-off-canvas"></a>
		</div>
	</div>
{% endblock %}

{% block mainjquery %}
{% endblock %}