{% extends "layout.twig" %}

{% block maincontent %}
	<div class="off-canvas-wrap docs-wrap" data-offcanvas="">
		<div class="inner-wrap">
				<div class="content-error">
					<!--div class="btn-back">
						<span>Back</span>
					</div-->
				</div>
		</div>
	</div>
{% endblock %}

{% block mainjquery %}
{% endblock %}