<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ app.request.basepath }}/templates/home/css/foundation.css" />
    <link rel="stylesheet" href="{{ app.request.basepath }}/templates/home/css/style.css" />
    <script src="{{ app.request.basepath }}/templates/home/js/vendor/modernizr.js"></script>
	<script type="text/javascript"></script>

</head>
<body>
		<div class="row full-height split-page">
		  {{form|raw}}
    </div>
</body>
</html>	


