<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ app.request.basepath }}/templates/home/css/foundation.css" />
    <link rel="stylesheet" href="{{ app.request.basepath }}/templates/home/css/style.css" />
    <script src="{{ app.request.basepath }}/templates/home/js/vendor/modernizr.js"></script>

 <!--link href="https://cdn.bigcommerce.com/login/assets/application-7d4b01162a0ee45feca7227f21f063fc.css" media="screen" rel="stylesheet" type="text/css" /-->

	<script type="text/javascript"></script>

</head>
<body>
	<div>
		<div class="row full-height split-page">

<div class="icon-bar five-up">
  <a class="item">
    <img src="../assets/img/images/fi-home.svg" >
    <label>Home</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-bookmark.svg" >
    <label>Bookmark</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-info.svg" >
    <label>Info</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-mail.svg" >
    <label>Mail</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-like.svg" >
    <label>Like</label>
  </a>
</div>






		</div>
	</div>
</body>
</html>	


