{% extends "layout.twig" %}

{% block maincontent %}
	<div class="off-canvas-wrap docs-wrap" data-offcanvas="">
		<div class="inner-wrap">
				{{menu|raw}}


				<form id="register-product" name="register-product" method="post" >

					{{table|raw}}

					<div class="row medium-uncollapse large-collapse">
						<ul class="stack button-group">
							<li><a href="#" class="button" onclick="registerProduct();" >Guardar</a></li>
						</ul>		
					</div>

				</form>


			<a class="exit-off-canvas"></a>
		</div>
	</div>
{% endblock %}

{% block mainjquery %}
{% endblock %}