{% extends "layout.twig" %}

{% block maincontent %}
	<div class="off-canvas-wrap docs-wrap" data-offcanvas="">
		<div class="inner-wrap">
				{{menu|raw}}
			<div class="row full-height split-page" style="padding:20px;">
				<div class="new-producto btn-new-item" onclick="newProducto()">Nuevo</div>
				<div id="main-tab">
					<table class="responsive" role="grid" >
						<thead>
							<tr >
								<th width="200" >Nombre</th>
								<th width="400" >Descripción</th>
								<th width="150" >Precio Proveedor</th>
								<th width="150" >Precio Usuario</th>
								<th width="150" ></th>
							</tr>
						</thead>
						<tbody>
							{{table|raw}}
						</tbody>
					</table>
				</div>
			</div>
			<a class="exit-off-canvas"></a>
		</div>
	</div>
{% endblock %}

{% block mainjquery %}
{% endblock %}