{% extends "layout.twig" %}

{% block maincontent %}
	<div class="off-canvas-wrap docs-wrap" data-offcanvas="">
		<div class="inner-wrap">
			{% block mainmenu %}
				{{menu|raw}}
			{% endblock %}

			{% block mainalert %}
			{% endblock %}

			{% block content %}
				<form id="register-product" name="register-product" method="post" >

					<div class="row medium-uncollapse large-collapse">
						<div class="large-12 columns">
							<label>Nombre:
								<input id="name" type="text" placeholder="Ingresa nombre de producto" name="name" />
							</label>
						</div>
					</div>

					<div class="row medium-uncollapse large-collapse">
						<div class="large-12 columns">
							<label>Descripción:
								<textarea id="description" placeholder="Ingresa una descripción" name="description" ></textarea>
							</label>
						</div>
					</div>

					<div class="row medium-uncollapse large-collapse">
						<div class="large-36columns">
							<label>Precio Proveedor:
								<div class="row medium-uncollapse large-collapse">
									<div class="large-2 columns">
										<div class="row collapse prefix-round">
											<div class="small-3 columns">
												<a href="#" class="button prefix">Q.</a>
											</div>
											<div class="small-9 columns">
												<input type="text" placeholder="00" name="priceProvider" >
											</div>
										</div>
									</div>

									<div class="large-2 columns">
										<div class="row collapse prefix-round">
											<div class="small-3 columns">
												<a href="#" class="button prefix">¢</a>
											</div>
											<div class="small-9 columns">
												<input type="text" placeholder="00" name="priceProviderCent" >
											</div>
										</div>

									</div>
								</div>
							</label>
						</div>
					</div>

					<div class="row medium-uncollapse large-collapse">
						<div class="large-36columns">
							<label>Precio Cliente:
								<div class="row medium-uncollapse large-collapse">
									<div class="large-2 columns">
										<div class="row collapse prefix-round">
											<div class="small-3 columns">
												<a href="#" class="button prefix">Q.</a>
											</div>
											<div class="small-9 columns">
												<input type="text" placeholder="00" name="pricelient" >
											</div>
										</div>
									</div>

									<div class="large-2 columns">
										<div class="row collapse prefix-round">
											<div class="small-3 columns">
												<a href="#" class="button prefix">¢</a>
											</div>
											<div class="small-9 columns">
												<input type="text" placeholder="00" name="pricelientCent" >
											</div>
										</div>

									</div>
								</div>
							</label>
						</div>
					</div>

					<div class="row medium-uncollapse large-collapse">
						<ul class="stack button-group">
							<li><a href="#" class="button" onclick="registerProduct();" >Guardar</a></li>
						</ul>		
					</div>

				</form>


			{% endblock %}
			<a class="exit-off-canvas"></a>
		</div>
	</div>
{% endblock %}

{% block mainjquery %}
{% endblock %}