{% extends "layout.twig" %}

{% block maincontent %}
	<div class="off-canvas-wrap docs-wrap" data-offcanvas="">
		<div class="inner-wrap">
			{% block mainmenu %}
				{{menu|raw}}
			{% endblock %}

			{% block mainalert %}
			{% endblock %}

			{% block content %}
				<div id="main-tab">
					<form id="update-product" name="update-product" method="post" >
						{{table|raw}}
					</form>
				</div>

				<div class="row medium-uncollapse large-collapse">
					<ul class="stack button-group">
						<li><a href="#" class="button" onclick="crudProduct('{{id|raw}}','update');" >Guardar</a></li>
					</ul>
				</div>
			{% endblock %}
			<a class="exit-off-canvas"></a>
		</div>
	</div>
{% endblock %}

{% block mainjquery %}
{% endblock %}