{% extends "layout.twig" %}

{% block maincontent %}
	<div class="off-canvas-wrap docs-wrap" data-offcanvas="">
		<div class="inner-wrap">
			{% block mainmenu %}
				{{menu|raw}}
			{% endblock %}

			{% block mainalert %}
			{% endblock %}

			{% block content %}
				<div class="new-provider btn-new-item" onclick="newPrivider()">Nuevo</div>
				<div id="main-tab">
					<table>
						<thead>
							<tr >
								<th width="200" >Nombre</th>
								<th width="150" >Teléfono</th>
								<th width="450" >Dirección</th>
								<th width="150" >NIT</th>
								<th width="150" ></th>
							</tr>
						</thead>
						<tbody>
							{{table|raw}}
						</tbody>
					</table>
				</div>
			{% endblock %}
			<a class="exit-off-canvas"></a>
		</div>
	</div>
{% endblock %}

{% block mainjquery %}
{% endblock %}