{% extends "layout.twig" %}

{% block maincontent %}
	<div class="off-canvas-wrap docs-wrap" data-offcanvas="">
		<div class="inner-wrap">
				{{menu|raw}}
				<div class="new-item-sale btn-new-item" onclick="newItemSale()">Nuevo</div>
				<form id="register-sale" name="register-sale" method="post" action="./registersale">

					<div class="row medium-uncollapse large-collapse">
						<div class="large-12 columns">
							<label>Cliente:
							{{client|raw}}
							</label>
						</div>
					</div>

					<div class="item-sale row medium-uncollapse large-collapse">
						{{productSale|raw}}
					</div>

					<div class="row medium-uncollapse large-collapse">
						<ul class="stack button-group">
							<!--<li><a href="#" class="button" onclick="sale();" >Guardar</a></li>-->
							<li><input type="submit" value="Guardar" class="button"/></li>
						</ul>
					</div>

				</form>
			<a class="exit-off-canvas"></a>
		</div>
	</div>
{% endblock %}

{% block mainjquery %}

	$( "#register-sale" ).delegate( ".remove-item", "click", function() {
		$(this).parent().remove();
	});

	$( "#register-sale" ).delegate( ".select_product", "change", function() {
		var id = $(this).val();
		var idBlock = $(this).attr('id');
		var idBlock = idBlock.split('select-item-');
		$('#input-item-'+idBlock[1]).attr('onChange','validateInStock(this.id,'+id+')');
		$('#input-item-'+idBlock[1]).val(' ');
		$('#input-item-'+idBlock[1]).removeAttr('disabled');
	});

{% endblock %}