{% extends "layout.twig" %}

{% block maincontent %}
	<div class="off-canvas-wrap docs-wrap" data-offcanvas="">
		<div class="inner-wrap">
				{{menu|raw}}
				<div id="mainAlert1" data-alert class="alert-box" tabindex="0" aria-live="assertive" role="dialogalert">
					<span>Mensaje de alerta</span>
					<button href="#" tabindex="0" class="close" aria-label="Close Alert">&times;</button>
				</div>
				
				<div class="row full-height split-page" style="padding:20px;">
					<div class="new-provider btn-new-item" onclick="newStock()">Nuevo</div>
					<div id="main-tab">
						<table>
							<thead>
								<tr >
									<th width="200" >Proveedor</th>
									<th width="150" >Producto</th>
									<th width="450" >Total</th>
									<th width="150" >Minimo</th>
									<th width="150" ></th>
								</tr>
							</thead>
							<tbody>
								{{table|raw}}
							</tbody>
						</table>
					</div>
				</div>
			<a class="exit-off-canvas"></a>
		</div>
	</div>
{% endblock %}

{% block mainjquery %}
{% endblock %}