{% extends "layout.twig" %}

{% block maincontent %}
	<div class="off-canvas-wrap docs-wrap" data-offcanvas="">
		<div class="inner-wrap">
			{% block mainmenu %}
				{{menu|raw}}
			{% endblock %}

			{% block mainalert %}
				<div id="mainAlert1" data-alert class="alert-box" tabindex="0" aria-live="assertive" role="dialogalert">
					<span>Mensaje de alerta</span>
					<button href="#" tabindex="0" class="close" aria-label="Close Alert">&times;</button>
				</div>
				<span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!">extended information</span>
			{% endblock %}

			{% block content %}
					<form id="register-stock" name="register-stock" method="post" >

						<div class="row medium-uncollapse large-collapse">
							<div class="large-12 columns">
								<label>Proveedor:
									{{provider|raw}}
								</label>
							</div>
						</div>

						<div class="row medium-uncollapse large-collapse">
							<div class="large-12 columns">
								<label>Producto:
									{{product|raw}}
								</label>
							</div>
						</div>

						<div class="row medium-uncollapse large-collapse">
							<div class="large-5 columns">
								<label>Total Stock:
									<input id="totalStock" type="text" placeholder="Ingresa nombre de producto" name="totalStock" />
								</label>
							</div>
							<div class="large-2 columns">
							<p></p>
							</div>

							<div class="large-5 columns">
								<label>Minimo Stock:
									<input id="minStock" type="text" placeholder="Ingresa nombre de producto" name="minStock" />
								</label>
							</div>

						</div>

						<div class="row medium-uncollapse large-collapse">
							<ul class="stack button-group">
								<li><a href="#" class="button" onclick="crudStock(0,'create');" >Guardar</a></li>
							</ul>
						</div>

					</form>
			{% endblock %}
			<a class="exit-off-canvas"></a>
		</div>
	</div>
{% endblock %}

{% block mainjquery %}
{% endblock %}