{% extends "layout.twig" %}

{% block maincontent %}
	<div class="off-canvas-wrap docs-wrap" data-offcanvas="">
		<div class="inner-wrap">
			{% block mainmenu %}
				{{menu|raw}}
			{% endblock %}

			{% block mainalert %}
				<div id="mainAlert1" data-alert class="alert-box" tabindex="0" aria-live="assertive" role="dialogalert">
					<span>Mensaje de alerta</span>
					<button href="#" tabindex="0" class="close" aria-label="Close Alert">&times;</button>
				</div>
			{% endblock %}

			{% block content %}
				<div id="main-tab">
					<form id="update-stock" name="update-stock" method="post" >
						{{table|raw}}
					</form>
				</div>

				<div class="row medium-uncollapse large-collapse">
					<ul class="stack button-group">
						<li><a href="#" class="button" onclick="crudStock('{{id|raw}}','update');" >Guardar</a></li>
					</ul>
				</div>
			{% endblock %}
			<a class="exit-off-canvas"></a>
		</div>
	</div>
{% endblock %}

{% block mainjquery %}
{% endblock %}


